<h2>Total People : {{people.length}} </h2>
<ul class='list-group'>
    <li class='list-group-item' ng-repeat='person in people'>
        
         <div class = 'row'>
            <div class = 'col-md-10'>
                <a href='#/people/{{person._id}}'>{{person.name}}</a>
            </div>
            <div class = 'col-md-2'>
                <button class = 'btn btn-warning' ng-click='delete(person._id)'>
                    Delete
                </button>
            </div>
        </div>    
    </li>
</ul>